html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.grid {
  width: 960px;
  margin: 0 auto;
  height: 100%;
}
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

[class*='col-'], .row {
  float: left;
}
.grid [class*='col-']:last-of-type, .grid .row:last-of-type {
  padding-right: 0;
}

.row {
  width: 100%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-1-8 {
  width: 12.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

a {
  text-decoration: none;
  color: #294854;
  -webkit-transition: all, 0.6s, ease;
          transition: all, 0.6s, ease;
}
a:hover {
  color: #4a8399;
}

.main {
  width: 100%;
  background: #f5f5f5;
}
.main .title {
  background: white;
  padding: 10px 0;
  height: 80px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.main .title h2 {
  line-height: 60px;
  font-size: 30px;
  font-weight: 300;
  margin: 0 auto;
  width: 960px;
}

.section {
  padding: 0 0 40px 0;
}

.emphasis, .hero h1, .hero h2 {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: white;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 4px 13px rgba(0, 0, 0, 0.1), 0 9px 23px rgba(0, 0, 0, 0.1);
}

.box-shadow, .tile .tile-icon, .blocks .panel, .blocks li {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.left {
  float: left;
}

.right {
  float: right;
}

.nav-header-bg {
  background: #427388;
  background-image: -webkit-radial-gradient(bottom, circle cover, #97d0e1, #427388 90%);
  background-image: radial-gradient(bottom, circle cover, #97d0e1, #427388 90%);
  height: 400px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 4px 13px rgba(0, 0, 0, 0.1), 0 9px 23px rgba(0, 0, 0, 0.1);
}

.nav-header {
  width: 100%;
  height: 75px;
  margin: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(100, 100, 100, 0.1);
}
.nav-header ul li {
  display: inline-block;
  line-height: 75px;
}
.nav-header ul li a {
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 12pt;
  letter-spacing: 1.5pt;
  border-bottom: 1px solid transparent;
  padding: 8px 0 8px 0;
  margin-left: 30px;
  -webkit-transition: all, 0.6s, ease;
          transition: all, 0.6s, ease;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.nav-header ul li a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.hero {
  padding-top: 110px;
  height: 325px;
}
.hero h1 {
  font-size: 60px;
  letter-spacing: 8pt;
}
.hero h2 {
  font-size: 22px;
  letter-spacing: 4pt;
  margin-top: 10px;
  display: block;
}

.tile {
  width: 280px;
  height: 280px;
  background: white;
  text-align: center;
  padding: 10px 20px;
  margin: 0 auto;
  margin-top: 80px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.tile:hover .tile-icon {
  background-color: #74a6bc;
}
.tile .tile-icon {
  background-color: #97d0e1;
  display: table;
  border-radius: 50%;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  margin-top: -60px;
  -webkit-transition: background, 0.6s, ease;
          transition: background, 0.6s, ease;
}
.tile .tile-icon i {
  display: table-cell;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 4px 13px rgba(0, 0, 0, 0.1), 0 9px 23px rgba(0, 0, 0, 0.1);
}
.tile .tile-info {
  padding-top: 1.6em;
}
.tile .tile-info h4 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.6em;
  padding-bottom: 1em;
  -webkit-font-smoothing: antialiased;
}

.blocks {
  padding: 20px;
  width: 100%;
  height: 100%;
}
.blocks .panel, .blocks li {
  width: 100%;
  background: white;
  margin: 20px 0;
}
.blocks .panel.main, .blocks li.main {
  min-height: 160px;
  padding: 20px;
}
.blocks li {
  height: 70px;
  line-height: 70px;
}
.blocks li .block-icon {
  float: left;
  width: 20%;
  text-align: center;
}
.blocks li .block-text {
  width: 90%;
}
