@import "variables";
$height : 70px;

.blocks {
    padding: 20px;
    width: 100%;
    height: 100%;
    
    .panel {
        width: 100%;
        margin: 20px 0;
        
        &.main {
            min-height: 160px;
            padding: 20px;
        }
    }
    
    li {
        @extend .panel;
        @extend .box-shadow;
        background: white;
        height: $height;
        line-height: $height;
        
        &:hover .block-icon {
            background-color: $ICON_HOVER_COLOUR;
        }
        
        .block-icon {
            float: left;
            width: 50px;
            height: 50px;
            text-align: center;
            margin: 10px auto;
            background-color: $ICON_IDLE_COLOUR;
            border-radius: 50%;
            margin-left: -25px;
            margin-right: 25px;
            display: table;
            transition: background-color $TRANSITION_TIME $TRANSITION_TYPE;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
            
            i {
                display: table-cell;
                vertical-align: middle;
                color: rgb(255, 255, 255);
                text-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px, rgba(0, 0, 0, 0.0980392) 0px 4px 13px, rgba(0, 0, 0, 0.0980392) 0px 9px 23px;
            }
            
            
        }
        
        .block-text {
            width: 90%;
            
            a {
                display: block;
            }
        }
    }
}