.nav-header-bg {
    radial-gradient: bottom, circle cover, #97d0e1, #427388 90%;
    height: 400px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 4px 13px rgba(0, 0, 0, 0.1), 0 9px 23px rgba(0, 0, 0, 0.1);
}

.nav-header {
    width: 100%;
    height: 75px;
    margin: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(100, 100, 100, 0.1);
    
    ul li {
        display: inline-block;
        line-height: 75px;
        
        a {
            background: transparent;
            color: #fff;
            text-transform: uppercase;
            font-size: 12pt;
            letter-spacing: 1.5pt;
            border-bottom: 1px solid transparent;
            padding: 8px 0 8px 0;
            margin-left: 30px;
            transition: all, 0.6s, ease;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            
            &:hover {
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    }
    
}